table {
    width:100%;
}
td {
    border:solid 0.1rem black;
    text-align:center;
}


/* form css */

.input_chk {
    display:none;
}
.chk_label {
    display:inline-block;
    position:relative;
    width:4rem;
    height:2rem;
    margin:0.25rem;
    border-radius:1rem;
    background:darkgray;
    transition:0.2s;
    cursor:pointer;
    box-shadow:0 4px 4px -2px #333 inset;
}
.chk_label:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    border:1px solid gray;
    border-radius:1rem;
    background:white;
    transition:0.2s;
    box-shadow:4px 0 2px -2px #333;
}
input[type="checkbox"].input_chk:checked + label.chk_label{ background:orange; }
input[type="checkbox"].input_chk:checked + label.chk_label:before{ left:50%; }

.surround_label {
    display:inline-block;
    position:relative;
    padding:0.5rem;
    border:solid 1px orange;
    border-radius:0.5rem;
    cursor:pointer;
    transition:0.2s;
}
input[type="checkbox"].input_chk:checked + label.surround_label{
    background:orange;
    transition:0.2s;
}
